{% extends 'base.html' %}
{% block content %}
    <h1>Producst</h1>
    <div class="row">
        {% for product in products %}
        <div class="col">
            <div class="card w-25">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text"><b>{{ product.price }}</b></p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}